{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Q'chicharrón{% endblock %}</title>

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Fuente -->
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="icon" href="{% static 'imagenes/favicon.png' %}">
  <!-- Estilos propios -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>

    <!-- Accesibilidad -->
    <script src="{% static 'lib/js/sienna.js' %}"></script>
</head>

<body class="bg-black text-white font-[Poppins]">
  <!-- Navbar -->
  <header class="fixed top-0 left-0 w-full bg-black bg-opacity-90 z-50 shadow-md">
    <nav class="container mx-auto flex justify-between items-center py-4 px-6">
      <h1 href="#" class="text-2xl font-bold" style="color: #d4af37; font-family: 'Playfair Display', serif;">Q'chicharrón</h1>

      <ul class="flex space-x-6 text-sm md:text-base">
        <li><a href="#inicio" class="hover:text-red-400 transition">Inicio</a></li>
        <li><a href="#nosotros" class="hover:text-red-400 transition">Nosotros</a></li>
        <li><a href="#menu" class="hover:text-red-400 transition">Menú</a></li>
        <li><a href="#reservas" class="hover:text-red-400 transition">Reservas</a></li>
      </ul>

      <a href="{% url 'login:login' %}"
         class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 transition">
        Iniciar Sesion
      </a>
    </nav>
  </header>

  <main class="pt-20">
    {% block content %}{% endblock %}
  </main>

  <footer class="bg-gray-900 text-center py-6 mt-16 text-gray-400">
    <p>&copy; 2025 Q'chicharrón — Todos los derechos reservados.</p>
  </footer>
</body>
</html>
