# ========================================
# PYTHON
# ========================================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/
.env

# ========================================
# DJANGO
# ========================================
secrets/
*.json
# Archivos generados
media/
staticfiles/

# Migraciones (se ignoran todas menos __init__.py)
**/migrations/
!**/migrations/__init__.py

# ========================================
#  IDEs Y EDITORES
# ========================================
# PyCharm
.idea/

# VSCode
.vscode/

# ========================================
#  LOGS Y OTROS ARCHIVOS TEMPORALES
# ========================================
*.log

# ========================================
#  SISTEMA OPERATIVO
# ========================================
.DS_Store
Thumbs.db
desktop.ini
# ====================================
# node
#==================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


generar_informe.py

google_drive_creds.json
oauth_credentials.json
token_drive.pkl