 {% load static %}
 <!-- En tu template base o donde incluyes el CSS -->

 <!-- aside/body.html -->
 <body>

<div id="wrapper">

    <!-- SIDEBAR -->
    <ul id="accordionSidebar" class="navbar-nav sidebar sidebar-dark toggled">
        ...
    </ul>

    <!-- CONTENIDO -->
    <div id="content-wrapper">

        <div id="content">
            {% include "dashboard/header.html" %}

            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include "dashboard/footer.html" %}
    </div>

</div>

</body>
