{% load static %}
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="{% static 'lib/img/Logo.png' %}" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">CodingLab</span>
                <span class="profession">web developer</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url 'apl:dashboard' %}">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Panel de Control</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'apl:usuario:usuario_list' %}">
                        <i class='bx bxs-user-rectangle icon'></i>
                        <span class="text nav-text">Usuarios</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'apl:mesa:mesa_list' %}">
                        <i class='bx bxs-pin icon'></i>
                        <span class="text nav-text">Mesa</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'apl:menu:menu_list' %}">
                        <i class='bx bx-restaurant icon'></i>
                        <span class="text nav-text">Menu</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'apl:categoria:listar_categoria' %}">
                        <i class='bx bxs-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Categorias</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'apl:marca:marca_list' %}">
                        <i class='bx bx-file icon'></i>
                        <span class="text nav-text">Marca</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:empleado:listar_empleado' %}">
                        <i class='bx bxs-user icon'></i>
                        <span class="text nav-text">Empleado</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:compra:compra_list' %}">
                        <i class='bx bxs-wallet icon'></i>
                        <span class="text nav-text">Compra</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:venta:venta_list' %}">
                        <i class='bx bxs-cart-alt icon'></i>
                        <span class="text nav-text">Venta</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:administrador:administrador_list' %}">
                        <i class='bx bx-user-circle icon'></i>
                        <span class="text nav-text">Administrador</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:producto:producto_list' %}">
                        <i class='bx bxs-bowl-hot icon'></i>
                        <span class="text nav-text">Producto</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:proveedor:proveedor_list' %}">
                        <i class='bx bxs-user-badge icon'></i>
                        <span class="text nav-text">Proveedor</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:nomina:nomina_list' %}">
                        <i class='bx bx-money-withdraw icon'></i>
                        <span class="text nav-text">Nomia</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:inventario:dashboard' %}">
                        <i class='bx bxs-archive-out icon'></i>
                        <span class="text nav-text">Inventario</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'apl:unidad:unidad_list' %}">
                        <i class='bx bx-tag icon'></i>
                        <span class="text nav-text">Unidad</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'apl:nomina:nomina_list' %}">
                        <i class='bx bx-money icon'></i>
                        <span class="text nav-text">Nómina</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li>
    <form method="post" action="{% url 'login:logout' %}" id="logout-form">
        {% csrf_token %}
        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
        </a>
    </form>
</li>

            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
